<!DOCTYPE html>
<html lang="en">
	
	<head>
		<meta charset="utf-8">
		<title>About</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="../css/webfonts/ingram-mono-regular.css" type="text/css" charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/css/about.css" />
	</head>
	
	<body>
		<a id='skipLink' href='#contentContainer'>Jump to main</a>
		<div class=pageContent>
			<div class="header">
				<div class="logoContainer"><a href="/articles/index" class="logoLink">/ Variables</a></div>
				<div class="navContainer" role="navigation">
					<nav>
						<a class="navLink currentNavLink" href="/articles/about">About</a>
						<a class="navLink" href="/articles/archive">Archive</a>
						<a class="navLink" href="/articles/contact">Contact</a>
					</nav>
				</div>
				<div class="spaceDiv"></div>
			</div>
			<main>
				<div id="contentContainer" role="main">
					<div class="aboutImageContainer">
						<img id="aboutImage" src="https://www.brown.edu/academics/visual-art/sites/visual-art/files/Beeferman_01.jpg" alt="client" />
						<div id="aboutImageTitle">Leah Beeferman</div>
					</div>
					<div id="aboutTextContainer">
						<div class="descriptionContainer">
							<p>Variables is a website for conversations between artists. It provides space for artists to talk, together, about artistic practice and the forces that drive it.</p>
							<p>Variables was founded by Leah Beeferman in Providence, RI, in 2020. Special thanks to Rachel Vera Steinberg.</p>
						</div>
					</div>
					<div id="credits">
						Website by <a href="http://www.leahbeeferman.com/" class="creditLink" target="_blank">Leah Beeferman</a>, 
						<a href="https://www.linkedin.com/in/gr%C3%A2ce-ou%C3%A9draogo-03a03912b/" class="creditLink" target="_blank">Grâce Ouédraogo</a>,
						<a href="http://bit.ly/3rt7DBb" class="creditLink" target="_blank">Eleanora Allen</a>, and	 
						<a href="https://github.com/omersdai" target="_blank" class="creditLink">Omer Dai</a>
					</div>
				</div>
			</main>
			<div class="footer">
				<div class="footerLogoContainer"><a href="/articles/admin" class="logoLink">/</a></div>	
			</div>
		</div>
	</body>
</html>

