<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Create Interview</title>
		<link rel="stylesheet" href="/css/webfonts/ingram-mono-regular.css" type="text/css" charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/css/admin.css" />
	</head>
	<body>
		<a id='skipLink' href='#contentContainer'>Jump to main</a>
		<div class=pageContent>
			<div class="header">
                <div class="logoContainer"><a href="/articles/index" class="logoLink">/ [Admin]</a></div>
                <div class="navContainer" role="navigation">
                    <nav>
                        <a class="navLink" href="/articles/new"> New Interview </a>
                        <a class="navLink" href="/articles/view"> Remove Interviews </a>
                    </nav>
            </div>
        </div>
      <main>
          <div class="contentContainer" role="main">
            <div class="elementContainer"></div>
            <div class="elementContainer"></div>
            <div id="adminTitle" class="elementContainer">Welcome Admin!</div>
            <h1><%= messages.msg ? messages.msg : '' %></h1>
            <div class="elementContainer"></div>
            <div class="elementContainer"></div>
            <div class="elementContainer interviewButtonContainer">
                <a href="/articles/new"><button class="adminButton interviewButton" >Add an Interview</button></a>
                <a href="/articles/view"><button class="adminButton interviewButton" >Remove Interviews</button></a>
                <a href="/articles/change"><button class="adminButton interviewButton" >Change Password</button></a>
            </div>
            <div class="elementContainer interviewButtonContainer">
                <form action="/articles/logout?_method=DELETE" method="POST" >
                    <button type="submit" class="adminButton interviewButton">Log Out</button>
                </form>
            </div>

          </div>
      </main>
      </div>
</body>
</html>