<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Login</title>
		<link rel="stylesheet" href="/css/webfonts/ingram-mono-regular.css" type="text/css" charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/css/admin.css" />
	</head>
	<body>
		<a id='skipLink' href='#contentContainer'>Jump to main</a>
		<div class=pageContent>
			<div class="header">
                <div class="logoContainer"><a href="/articles/index" class="logoLink">/ Variables</a></div>
                <div class="navContainer" role="navigation">
                    <nav>
                    </nav>
            </div>
        </div>
      <main>
        <div id="contentContainer" role="main">
          <div class="elementContainer"></div>
          <div class="elementContainer"></div>
          <div id="adminTitle" class="elementContainer">Please Login</div>
          <form action="/articles/login" method="POST">   
            <h1><%= messages.error ? messages.error : '' %></h1>
            <div>
              <div class="elementContainer">
                <input type="password" class="inputBar" id="password" name="password" placeholder="password" required>
              </div>
            </div>
            <div class="elementContainer">
              <button type="submit" class="adminButton">Login</button>
            </div>
          </form>
        </div>
      </main>
      </div>
</body>
</html>