<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><%= article.title %></title>
		<link rel="stylesheet" href="/css/webfonts/ingram-mono-regular.css" type="text/css" />
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/css/interview.css" />
	</head>
    <body>
        <a id='skipLink' href='#contentContainer'>Jump to main</a>
        <div class="pageContent">
            <div class="header">
                <div class="logoContainer"><a href="/articles/index" class="logoLink">/ Variables</a></div>
                <div class="navContainer" role="navigation">
                    <nav>
                        <a class="navLink" href="/articles/about">About</a>
                        <a class="navLink" href="/articles/archive">Archive</a>
                        <a class="navLink" href="/articles/contact">Contact</a>
                    </nav>
                </div>
                <div class="spaceDiv"></div>
            </div>
            <div><%- article.pageHtml %></div>
            <div class="footer">
                <div class="footerLogoContainer"><a href="/articles/admin" class="logoLink">/</a></div>	
            </div>
        </div>
    </body>
</html>